Source: y-ppa-manager
Section: misc
Priority: extra
Maintainer: Li Longyu <leaeasy@gmail.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2

Package: y-ppa-manager
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, yad (>= 0.12.0), libnotify-bin, ppa-purge, python-software-properties, wget, xterm, launchpad-getkeys, python, python-launchpadlib, python-support (>=0.90)
Description: Y PPA Manager
 Easily manage PPAs: add, remove, purge and search all 
 Launchpad PPAs using a graphical interface. The search 
 feature allows you to add the found PPAs, just list the 
 packages and their versions in a found PPA or download 
 some packages in the PPA.
