[Desktop Entry]
Version=1.0
Name=Add a PPA
Comment=Add a PPA
GenericName=Add a PPA
Exec=gksu -m "Y PPA Manager requires admin privileges for this task" -S "bash -c" "y-ppa-cmd add"
Icon=gtk-add
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GNOME;System;
StartupWMClass=Y-PPA-Manager
